<!-- <ng-container *ngIf="auth.isAuthenticated()">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/companies-list']">Manage Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-retrieve']">Manage Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            {{ auth.getUsername() }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link pointer" (click)="logout()">
            Logout
        </a>
    </li>
</ng-container> -->
